*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    background: url(../img/vs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;;
    
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center;    height:100vh;;
  
}
.form{
 background-color: #000000bd;
 border-radius: 5px;
 height:300px;
 width:700px;
 display: flex;
 align-items: center;
 
 flex-direction: column;
}
.HeadeText{
    margin-top: 20px;;color: #fff;
    font-size: 32px;
}

.form form{
    margin-top: 40px;
}
.input-value{
    height: 40px;
    width:300px;
    border:1px solid transparent;
    outline: none;
    padding: 0px 20px;    border-radius: 5px 2px 2px 5px;
    font-weight: bold;

}
.input-button{
    height: 40px;
    width:100px;
    border:1px solid transparent;
    outline: none;
    cursor:pointer;
    background-color: rgb(207, 14, 14);
    color:#fff;
    font-weight: bold;
    border-radius: 2px 5px 5px 2px;
}

.error-text{
    background-color: rgb(207, 14, 14);
    color:#fff;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 4px;
    display: none;
    transition: all .5s ease;
}

.error-text.show{
     display: block;     
}

.success{
    background-color: rgb(4, 102, 9);
    color:#fff;
    margin-top: 20px;
    padding: 10px 100px;
    border-radius: 4px;
    display: none;
}

.success.show{
display: block;
}

@media (max-width : 700px){
    .form{
        background-color: #000000bd;
        border-radius: 5px;
        height:300px;
        width:500px;
        display: flex;
        align-items: center;
        
        flex-direction: column;
       }

      
   
    .HeadeText {
        margin-top: 20px;
        color: #fff;
        font-size: 30px; margin-left: 69px;
        }

    .boom{
        margin-left: 75px;
    }
}
@media (max-width : 500px){
    .form{
        background-color: #000000bd;
        border-radius: 5px;
        height:300px;
        width:350px;
        display: flex;
        align-items: center;
        
        flex-direction: column;
       }

      
   
    .HeadeText {
        font-size: 25px;
       margin-left: 30px ;
 
        }

    .form form{
        display: flex;
        flex-direction: column;
      
    }

    form .input-value{
         width:100%;    
         border-radius:   5px ;
         margin-bottom: 10px;;
    
    }
    form .input-button{
        width:100%;     
   
   }
    .boom{
        margin-left: 60px;
    }
}
 
 